extends layout

block mainDisplay
  form(method='get' action='/nutrient/results')
    div(id='nutrientSearch')
      label Select Nutrient
      select(name='nutrient')
        option(value='' hidden) Select Your Nutrient
        each nutrient in nutrients
          option(value=nutrient.id) #{nutrient.name}
      button(type='submit' value='' name='nutrientName') Submit

