<div *ngIf="account">
  <h2>{{account.name | uppercase}} Details</h2>
  <div><span>id: </span>{{account.id}}</div>
  <div>
    <label for="account-name">Account Name: </label>
    <input id="account-name" [(ngModel)]="account.name" placeholder="Account name"/>
  </div>
  <div>
    <label for="account-type">Account Type: </label>
    <input id="account-type" [(ngModel)]="account.type" placeholder="Account type"/>
  </div>
  <button (click)="goBack()">go back</button>
  <button (click)="save()">save</button>
</div>
