<h1>Learning Pod 4</h1>
<nav>
    <ul class="nav">
        <li><a href="/restaurants">Restaurants</a></li>
        <li><a href="/create_restaurant">Create Restaurant</a></li>
        <li><a href="#">Log In</a></li>
        <li><a href="/about">About</a></li>
    </ul>
</nav>