<nav>
  
  <div id="headerNavContainer">
    <style> 
    body {  background-color: powderblue; }
      h1   {  color: blue;  }
      p    {  color: red; }
  </style>
    <a href="/">Home</a>
    <a href="meal/{{user.id}}">Meals History</a>
    <a href="meal/add">+</a>
    <a onclick="return logout(event)">Logout</a>
  </div>
</nav>