{{>header}}

<form action="/menu_create" method="post">

    <label for="title">Title:</label><br>
    <input type="text" id="title" name="title"><br>

    <br>

    <button type="submit">Submit</button>

</form>

{{>footer}}
