 {{>header}}

 <div class="space">
    <form action="/restaurants_create" method="post">

        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name"><br>

        <br>

        <label for="image">Image:</label><br>
        <input type="text" id="image" name="image"><br>

        <br>

        <button type="submit">Submit</button>

    </form>
 </div>

{{>footer}}
