{{>header}}

<section class="restaurants-container">
    {{#each restaurants}}
        <article >
            <a href="/restaurants/{{this.id}}"> <img src="{{this.image}}"/> </a>
            <h2>{{this.name}}</h2>
        </article>
    {{/each}}
</section>

{{>footer}}
